#mainpavellons
{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 35vh; /* Establece la altura al 100% del viewport */
    margin-top: 10px;
}
  
#mainpavellons ul
{
    list-style-type: none; /* Quita los estilos de la lista */
    padding: 0; /* Quita el relleno */
    text-align: center; /* Alinea el texto a la izquierda */
}
  
#mainpavellons li
{
    margin-bottom: 10px; /* Añade espacio entre cada elemento de la lista */
}
  
#mainpavellons li a.pavellons
{
    display: block; /* Cambia el enlace a bloque para que ocupe todo el ancho del elemento li */
    padding: 10px 20px; /* Ajusta el relleno para que sea uniforme */
    background-color: green; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 18px;
    text-decoration: none; /* Quita la subrayado del enlace */
    border-radius: 5px; /* Añade esquinas redondeadas */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}